// color palette: http://colorpalettes.net/color-palette-1439/
@import './marker.scss';
@import './nav.scss';
@import './home.scss';
@import './searchprocess.scss';
@import './progressindicator.scss';

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}

#app {
  width: 100vw;
  height: 100vh;
}

.hidden {
  display: none;
}

.bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: no-repeat center/cover url('https://s3-us-west-1.amazonaws.com/dishassist/landing.jpg');
  z-index: -1;
  opacity: 0.8;
}
