.home {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .home-start-container {
    width: 500px;
    height: 400px;
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 10%;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(246, 245, 243, 0.9);

    .home-start-title {
      margin: 0;
      font-size: 40px;
    }

    .home-start-blurb {
      margin-bottom: 40px;
      font-size: 22px;
    }

    .home-start-search {
      width: 250px;
      height: 80px;
      font-size: 20px;
    }

    .home-start-search:hover {
      cursor: pointer;
    }
  }
}
