.location {
  .location-form {
    flex-shrink: 0;
  }

  .location-submit {
    flex-shrink: 0;
  }

  .location-confirm {
    width: 250px;
    height: 40px;
    margin-top: 20px;

    button {
      width: 100px;
      height: 30px;
      font-size: 12px;
    }

    .location-confirm-continue {
      margin-left: 5px;
      margin-right: 20px;
    }

    .location-confirm-cancel {
      margin-left: 20px;
      margin-right: 5px;
    }
  }
}
