.nav {
  height: 50px;
  margin: 0;
  border-bottom: 3px #d6e1ef solid;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background-color: #f6f5f3;
  font-size: 18px;
  z-index: 1;

  .nav-cluster {
    margin-left: auto;
    display: flex;
    flex-direction: row;
  }

  li {
    width: 100px;
    margin: 15px;
    text-align: center;
    color: #222a3f;
    list-style-type: none;
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
  }

  li:hover {
    color: #7a7f8b;
    cursor: pointer;
  }
}
