.nav {
  height: 50px;
  margin: 0;
  border-bottom: 3px #d6e1ef solid;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background-color: #ffffff;
  font-size: 16px;
  z-index: 1;

  .nav-cluster {
    margin-left: auto;
    display: flex;
    flex-direction: row;
  }

  li {
    width: 100px;
    margin: 15px;
    list-style-type: none;
    -webkit-transition: color 1s;
    transition: color 1s;
  }

  li:hover {
    color: #d6e1ef;
    cursor: pointer;
  }
}
