.profile {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;

  form {
    width: 700px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    label {
      width: 400px;
      height: 48px;
      margin-bottom: 14px;
      flex-shrink: 0;

      input {
        width: calc(100% - 8px);
        font-size: 18px;
      }
    }

    button {
      width: 450px;
      height: 64px;
      margin-top: 24px;
      flex-shrink: 0;
      font-size: 18px;
    }

    .message {
      width: 100%;
      height: 20px;
      margin-top: 8px;
      text-align: center;
    }
  }

  img {
    min-height: 100%;
    left: 700px;
    position: absolute;
  }
}
