.search-process {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;

  .search-process-info {
    width: 100%;
    height: 100%;
    flex: 10;
  }

  .search-process-map {
    width: 100%;
    height: 100%;
    flex: 9;
  }
}
