.signup {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .signup-form {
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    font-size: 24px;

    .signup-form-email {
      margin-bottom: 16px;
    }

    .signup-form-password {

    }

    input {
      width: 300px;
      font-size: 20px;
      background-color: #fcfcfb;
    }
  }

  .signup-submit {
    width: 311px;
    height: 48px;
    padding: 4px;
    font-size: 20px;
  }

  .signup-route-signin {
    margin-top: 16px;
  }

  .signup-route-signin:hover {
    cursor: pointer;
  }
}
